# C++ Build files
cmake-build-debug/
build/
x64/
*.exe
*.obj
*.pdb
*.ilk

# Python
__pycache__/
.venv/
.idea/
*.pyc

# OS generated
.DS_Store
Thumbs.db

# Large Data (optional, falls du nicht alle Daten hochladen willst)
# training_data_raw/
# training_data_final/
